<style>
  form {
  width: 80%;
  padding: 50px px;
  margin: 100px 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }
</style>
<!-- Reply section -->

<section>

<!-- Reply section -->

  <!-- Leave a reply -->
  <div class="card-header border-1 font-weight-bold">Blog</div>

  <!-- Default form reply -->
  <form class="px-1 mt-4">


    <!-- Name -->
    <label for="replyFormName">Title :</label>
    <input type="text" id="replyFormName" class="form-control">

    <hr>

    <!-- Author -->
    <label for="replyFormEmail">Author :</label>
    <input type="text" id="replyFormEmail" class="form-control">
    <hr>

    <!-- BlogPost -->
    <div class="form-group">
      <label for="replyFormComment">Blog :</label>
      <textarea class="form-control" id="replyFormComment" rows="10"></textarea>
    </div>
    <div class="text-center mt-4">
      <button class="btn btn-primary btn-md" type="submit">Post</button>
    </div>


  </form>
  <!-- Default form reply -->

</section>

<!-- Reply section -->
